:root{
    --light-blurple1: #ffffff;
    --light-blurple2: #f5f6f7;
    --light-blurple3: #dfdfe2;
    --light-blurple4: #d0d0d5;
    --blurple: #7984f5;
    --dark-blurple1: #3b3b4f;
    --dark-blurple2: #2a2a40;
    --dark-blurple3: #1b1b32;
    --dark-blurple4: #0a0a23;
}

@font-face {
    font-family: "agalega"; 
    src: url("../fonts/a_galega/AGALEGA-Regular.otf"); 
}

@font-face {
    font-family: "mcs"; 
    src: url("../fonts/made_carving_soft/MADECarvingSoft-Regular.otf"); 
}

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

input:hover{
    cursor: pointer;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--dark-blurple1);
    color: var(--light-blurple3);
    overflow: hidden;
    font: normal 1em mcs,sans-serif; 
}


header{
    background-color: var(--dark-blurple3);
    width: 100%;
    height: 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}

#page-title{
    flex:4;
    font: bolder 1.5em agalega, tahoma;
    text-align: center;
    margin: 5em 1em;
}

#navbar{
    height: 100%;
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 1em;
   
}

.current-page{
    border-bottom: 0.15em solid var(--blurple);
    border-radius: 0.1em;
}

.current-page:hover{
    cursor: not-allowed;
}

#calories-calculator{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 6fr;
    padding: 0em 2em;
    
}

#title{
    font-style: bolder;
    font-size: 3em;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    color: var(--blurple);
}

#calories-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3em;
    background-color: var(--dark-blurple2);
    border: 0.25em solid var(--dark-blurple4);
    border-radius: 3em;
    padding: 2em;
}

.input-wrapper{
    margin: 0.5em auto;
    
}
.input-text:first-of-type{
    margin-right: 1em;
}

input-text{
    font-style: bolder;
}

input[type="radio"]:checked{
    accent-color: var(--blurple);
}

input[type="radio"]{
    accent-color: var(--blurple);
}

#number-inputs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input[type="number"]{
    appearance: textfield;
    width: 40%;
    background-color: var(--dark-blurple4);
    border: 0.05em solid var(--blurple);
    color: var(--light-blurple1);
    padding: 0 0.25em;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#age-input{
    width:30%;
    margin-right: -3em;
}

input[type="number"]::selection{
  background-color: var(--dark-blurple1);
}

input[type="number"]:hover{
    cursor: text;
}

input[type="number"]:focus{
    outline: 0.2em solid var(--blurple);
    border-radius: 0.5em;
    border: none;
}

#training-frequency{
    width: 50%;
    background-color: var(--dark-blurple4);
    border: 0.05em solid var(--blurple);
    color: var(--light-blurple1);
    padding: 0 0.25em;
    border-radius: 1em;
}

.input-text{
    text-align: center;
}




 
